div#palette {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0;
    width: 150px;
    float: right;
}
div#canvas {
    border: 5px solid;
    width: 1000px;
    height: 600px;
    resize: both;
    overflow: auto;
}
img.palette_icon {
    float: left;
    padding: 0px 4px;
}
button.palette_heading {
    color: #000000;
    background-color: #F0F0F0;
    width: 150px;
    text-align: left;
}
div.option {
    cursor: pointer;
}
div#select {
    background-color: #AAFFFF;
}
